@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
body {
    margin: 0;
    background: #7F0000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
#globe {
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    width: 80vmin;
    height: 80vmin;
    transform-origin: 50% 60%; 
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/globe.svg) center center / contain no-repeat;
  } 

.tree {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 14vmin;
    width: 40vmin;

    /* animation-duration: 4s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none; */
}
 /* @keyframes clignoter {
       0%   { opacity:1; }
       40%   {opacity:0; }
       100% { opacity:1; }
     } */

.box {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8vmin;
    width: 10vmin;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: 'Mountains of Christmas', cursive;
    color: white;
    font-size: 2.5em;
    margin-top: 0.3em;
}
#snow {
	position: absolute;
	width: 100%;
	height: 100%;
}

.snowflake {
	position: absolute;
	display: block;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
    transform: translateZ(0);
    
	background-image: -webkit-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: -moz-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: -ms-radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
	background-image: radial-gradient(
		center,
		circle farthest-corner,
		rgba(255, 255, 255, 1) 40%,
		rgba(255, 255, 255, 0) 100%
	);
}

/*POPUP*/
.overlay {
  position: fixed;
  height: 100%; 
  width: 100%;
  top: 0;
  right: 0;  
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
}

.popup {
  max-width: 600px;
  width: 80%;
  max-height: 300px;
  height: 80%; 
  padding: 20px;
  position: relative;
  background: #fff;
  margin: 20px auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}
